{
    "env": {
        "browser": true,
        "es6": false,
        "node": false,
        "jest": false
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "extends": ["eslint:recommended"],
    "plugins": ["angular"],
    "globals": {
        "$":true,
        "wx":true,
        "md5": true,
        "BMap": true,
        "dayjs": true,
        "com4dom": true,
        "angular": true,
        "__VERSION__": true
    },
    "rules": {
        "semi": "error",
        "one-var": "off",
        "no-await-in-loop": "error",
        "no-compare-neg-zero": "error",
        "no-cond-assign": "error",
        "no-console": "off",
        "no-alert": "error",
        "no-else-return": "error",
        "no-delete-var": "error",
        "no-empty-function": "off",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extra-bind": "error",
        "no-unused-expressions": "off",
        "no-undef": "error",
        "no-undef-init": "error",
        "no-undefined": "error",
        "no-plusplus": "off",
        "no-mixed-operators": "off",
        "no-return-assign": "off",
        "no-unused-vars": "error",
        "no-use-before-define": "error",
        "no-underscore-dangle": "off",
        "no-bitwise": "off",
        "no-extra-boolean-cast": "off",
        "no-param-reassign": "off",
        "no-throw-literal": "off",
        "no-continue": "off",
        "class-methods-use-this": "off",
        "arrow-body-style": "off",
        "global-require": "off",
        "consistent-return": "off",
        "constructor-super": "error",
        "array-callback-return": "off",
        "space-in-parens": "off",
        "eqeqeq": ["error", "always"],
        "comma-dangle": ["error", "never"],
        "linebreak-style": ["error", "unix"],
        "indent": ["error", 4, { "SwitchCase": 1 }]
    }
}
