/* error style */
.error {
    height: 100%;
    padding: 2rem .3rem 0;
    background-color: #fff;
    text-align: center;

    & > img {
        width: 5.2rem;
        height: auto;
        vertical-align: top;
    }
    & > p {
        margin-top: .2rem;
        line-height: .6rem;
        color: #999999;
        font-size: .28rem;
    }
    .error--btns {
        margin-top: 1rem;
    }

    .fc-btn.fc-btn__primary {
        width: 5rem;
        height: .8rem;
        margin: 0 auto;
        border-radius: .4rem;
        line-height: .8rem;
        font-size: .3rem;
        letter-spacing: 0;
    }
}
